* {
    border: solid 1px green;
}


ul {
    list-style-type:none;
    padding: 0;
}

li {
    border:solid 3px black;
    padding: 3px;
    margin-left:40px;
}

#margin + ul > li:first-child {
    padding-top: 30px;
    margin-bottom: 50px;
}

#margin + ul > li:nth-child(2) {
    padding: 5px 20px 15px 50px; /* 위, 오른쪽, 아래, 왼쪽 */
    margin-top: 25px; /* 둘 중에 더 높은 margin만 적용되기 때문에 위의 margin-bottom만 의미가 있다 */
}

#margin + ul > li:nth-child(3) {
    margin-left: 55px;
}


div {
    border: solid 3px black;
    height: 100px;
    margin:auto;
}

div:first-of-type{
    width: 500px;
}

div:nth-of-type(2){
    width: 300px;
}

div:nth-of-type(3){
    width: 150px;
}

#content-box {
    box-sizing: content-box;
}

#border-box {
    box-sizing:border-box;
}

.box {
    width: 500px;
    height: 200px;
    margin-bottom: 50px;
    padding: 20px;
    border: solid 25px black;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR6E189hzEMCx7z_QWCKd6xKzztuaW9eVlig&usqp=CAU');
    background-size:200px auto;
    background-position: right bottom;
    background-repeat:no-repeat;
}