html {
    font-size: 15px; /* rem은 이 크기에 비례하여 크기를 조절한다 */
}

div {
    border: solid 1px black;
}

/* [id] : id 속성이 존재하는 모든 요소들은 25px이다 */
/* [id$="m" : id속성이 m으로 끝나는 요소들 */
[id$="m"] { 
    font-size: 25px;
}


/* 현재 내가 가지고 있는 폰트 사이즈(25px짜리) 글자가 15개 들어가는 크기의 자리를 만들어준다 */
#em {
    width: 15em;
}

/* html의 크기에 비례하는 폰트사이즈 */
#rem {
    width: 15rem;
}

#vw {
    width: 15vw;
    height: 15vw;
}

#vh {
    width: 15vh;
    height: 15vh
}
